<div class="center-horizontal block">
  <h1>User Portfolios</h1>
  <br>

  <table>
    <tr>
      <th>User</th>
      <th>Funds</th>
    </tr>
    <% @users.order(created_at: :desc).each do |user| %>
      <tr>
        <td id="<% user.id %>"><%= user.username %></td>
        <td><%= link_to "View", user_path(user), class: 'view-profile', :data => { 'id' => "#{user.id}"} %>
          <ul class="render-funds">
            <!-- <% user.funds.each do |fund| %>
              <%= fund.symbol %><br>
            <% end %> -->
          </ul>
        </td>
      </tr>
      <% end %>
  </table>

  <br><br>
</div>
