<div class="center-horizontal block">
  <h1>User Portfolios</h1>
  <br>

  <table>
    <tr>
      <th>User</th>
      <th>Funds</th>
    </tr>
    <% @users.order(created_at: :desc).each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= button_to "View", user_path(user), {method: :get, id: "view-profile"} %></td>
      </tr>
      <% end %>
  </table>

  <br><br>
</div>
