body {
  font-family: Helvetica;
  background: #454545;
  color: #f7f7f7;
}

label, p {
  font-family: Helvetica;
}

.center-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.center-horizontal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block {
  background-color: #f7f7f7;
  color: #454545;
  border: #454545;
}

.field-size {
  width: 160px
}

.button, .link_button {
  background-color: #f7f7f7;
  border: 1px solid #454545;
  color: #454545;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  border-radius: 4px;
  width: auto;
}

.float-button {
  padding: 8px 20px;
  float: left;
  width: 14.25%;
  font-size: 30px;
  border-radius: 0px;
}


ul {
  padding:0;
  margin:0;
  font-family: Helvetica;
  size: 12px;
  line-height: 1.35;
}

a {
  color: #454545;
  text-decoration: none;
}

table, th, td {
  text-align: center;
  width: 100px;
}


table {
  width: 100%;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background: #454545;
  color: #f7f7f7;
}

tr:nth-child(odd) {
  background: #f7f7f7;
}

.new_investment {
  line-height: 30px;
}


#login {
  font-family: Helvetica;
  size: 12px
}

#navbar {
  color: #f7f7f7;
  background-color: #f7f7f7;
  text-align: center;
}

#title {
  font-size: 50px;
}

#render_investments {
  width: 100%;
}

#form-block {
  float: left;
  text-align: center;
  width: 400px;
}
