body {
  font-family: Helvetica;
  background: #454545;
  color: #f7f7f7;
}

label, p {
  font-family: Helvetica;
}

.center-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.center-horizontal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block {
  background-color: #f7f7f7;
  color: #454545;
  border: #454545;
}

.field-size {
  width: 160px
}

.button, .link_button {
  background-color: #f7f7f7;
  border: 1px solid #454545;
  color: #454545;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 12px;
  border-radius: 4px;
  width: auto;
}

.float-button {
  padding: 8px 20px;
  float: left;
  width: 16.65%;
  font-size: 30px;
  border-radius: 0px;
}

.multiple-columns {
  -webkit-column-count: 3; -webkit-column-gap:20px;
  -moz-column-count:3; -moz-column-gap:20px;
  -o-column-count: 3; -o-column-gap:20px;
  column-count: 3; column-gap:20px;
  list-style-position: inside;
}

.nav-pages {
  text-align: center;
}


ul {
  padding:0;
  margin:0;
  font-family: Helvetica;
  size: 12px;
  line-height: 1.35;
}

button_to {
  color: #454545;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table, th, td {
  text-align: center;
  width: 100px;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
  font-size: 18px;
}

tr:nth-child(even) {
  background: #454545;
  color: #f7f7f7;
}

tr:nth-child(odd) {
  background: #f7f7f7;
}



#login {
  font-family: Helvetica;
  size: 12px
}

#navbar {
  color: #f7f7f7;
  background-color: #f7f7f7;
  text-align: center;
}

#title {
  font-size: 50px;
}

#render_investments {
  width: 100%;
}

#render-new-investment, #create-new-fund {
  display: none;
}

#fund-id {
  display: inline;
}
