<div class="center-horizontal block">
  <h1>Top Funds</h1>
  <ul>
  <% @top_funds.each do |fund| %>
    <li><%= fund.symbol %></li>
    <% end %>
  </ul>
  <br><br>
</div>


<div class="center-horizontal block">
  <h1>All Funds</h1>
  <ul>
  <% @funds.each do |fund| %>
    <li><%= fund.symbol %></li>
    <% end %>
  </ul>
  <br><br>
</div>
