<div class="center-horizontal block">
  <h1><%= @fund.symbol %></h1>
  <!-- <p>Users: <%= @fund.users.uniq.length %></p>
  <p>Investments: <%= @fund.investments.length %></p> -->
  <p><%= @stats["companyName"] %></p>
  <br><br>
</div>
